/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/**
*! Modal Animation entry
*/
/*Using modal fade class on 1st modal to see animation*/
.animatetop {
  animation-name: animate;
  animation-duration: 0.4s;
}

/**
*! Add Animation 
*/
@keyframes animate {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/**
* ! Style rules for form labels
*/
label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

/**
* ! Style rules for form input types
*/
form div input,
.form-select,
.form-control {
  width: 95%;
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: 2px solid #c4c4c4;
  padding: 0 35px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.form-control {
  display: inline;
  /*Fixed troubles related with bootstrap-5 form control and icons errors status position*/
}

.selectBox { 
  position: relative; 
} 

.overSelect { 
  position: absolute; 
  left: 0; 
  right: 0; 
  top: 0; 
  bottom: 0; 
} 

#checkBoxes {
  /*Hiding the checkBoxes list inside the form-check class*/
  display: none;
  border: 2px solid #c4c4c4;
  width: 95%;
  border-radius: 8px;
  outline: none;
  padding: 0 35px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/**
* ! Style rules for form checkbox inputs 
*/
input[type="checkbox"] {
  padding: 0;
}

/**
* ! Style rules for form icons
*/
form div i {
  position: absolute;
  padding: 12px;
}

/**
*! Style rules for select input fields icons status
**/
.selects i.failure-icon3,
.selects i.success-icon3{
  margin-top: -40px;
}

/**
* ! Style rules for error classes along with success and failure icons
*/
.failure-icon,
.failure-icon2,
.failure-icon3,
.error,
.error2,
.error3 {
  color: red;
}

.success-icon,
.success-icon2,
.success-icon3 {
  color: green;
}

.error,
.error2,
.error3 {
  font-size: 14.5px;
  margin-top: 5px;
}

/*Hidding success and failure icons by default*/
.success-icon,
.success-icon2,
.success-icon3,
.failure-icon,
.failure-icon2,
.failure-icon3 {
  right: 0;
  opacity: 0;
}